
        <% messages.forEach(function(message){ %>
            
                   <h1><%= message.name %></h1>
                   
                       <h2><%= message.email %></h2>
                   <h3> <%= message.subject %></h3>
                   <p>
                   	   
                       <%= message.message %>
                   </p>
                
        <% }); %>
